# Збірка та залежності
node_modules
dist
build
coverage

# Артефакти бандлера
.cache
.parcel-cache

# Конфігураційні та службові файли
package-lock.json
yarn.lock

# Зображення, шрифти, інші двійкові файли
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.woff
*.woff2

# Статичні ресурси
public/

# Якщо використовуєш env-файли
*.env
